header {
    /*background: linear-gradient(rgb(15, 64, 125), rgb(60, 124, 162));*/
    background-color: #35b1ff;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}
.header {list-style-type: none;}
.header li {display: inline-block;}
.header li a {color: #fff;font-size: 26px}
.header li a img {
    height: 48px;
    position: relative;
    top: 5px;
    box-shadow: 0px 0px 20px #0d141b;
    padding: 10px 40px 0;
    border-radius: 4px;
    background-color: rgba(12, 22, 37, 0.78);
}
.header .left-menu-handle {
    /*border: 2px solid #77a1bb;*/
    padding: 2px 4px;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(14, 27, 31, 0.76);
}
.header .left-menu-handle {
    position: absolute;
    top:25px;
    left: 10px;
}
.header .right-menu-handle {
    position: absolute;
    top:25px;
    right: 10px;
}