body .left-menu-list {
    list-style-type: none;
    padding-top: 200px;
}
body .left-menu-list li.left-menu-items {
    display: block;
    padding: 10px;
    border-right: 3px solid rgba(80, 192, 210, 0.83);
    margin: 2px;
}
body ul li a {
    color: #eeeeee;
    text-decoration: none;
    font-size: 19px;
}
body ul li a span {
    position: absolute;
    left: 40px;
}