<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!--&copy; All rights reserved. 2016-->
    <!--<ul class="footer-list">-->
        <!--<li class="footer-items"><a href="#"><img src="assets/img/green.svg" alt=""></a></li>-->
        <!--<li class="footer-items"><a href="#"><img src="assets/img/blue.svg" alt=""></a></li>-->
        <!--<li class="footer-items"><a href="#"><img src="assets/img/red.png" alt=""></a></li>-->
        <!--<li class="footer-items"><a href="#"><img src="assets/img/yellow.svg" alt=""></a></li>-->
        <!--<li class="footer-items"><a href="#"><img src="assets/img/gray.svg" alt=""></a></li>-->
    <!--</ul>-->
    <table>
        <tr>
            <td><a href=""><img src="assets/img/green.svg" alt=""></a></td>
            <td><a href=""><img src="assets/img/blue.svg" alt=""></a></td>
            <td><a href=""><img src="assets/img/red.png" alt=""></a></td>
            <td><a href=""><img src="assets/img/yellow.svg" alt=""></a></td>
            <td><a href=""><img src="assets/img/gray.svg" alt=""></a></td>
        </tr>
    </table>
</body>
</html>