<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<ul class="left-menu-list">
    <li class="left-menu-items"><a href="index.html"><i class="fa fa-globe" aria-hidden="true"></i><span>MAP</span></a></li>
    <li class="left-menu-items"><a href="templates/management.html"><i class="fa fa-users" aria-hidden="true"></i><span>MANAGEMENT</span></a></li>
    <li class="left-menu-items"><a href="templates/report.html"><i class="fa fa-file-text" aria-hidden="true"></i><span>REPORT</span></a></li>
    <li class="left-menu-items"><a href="templates/search.html"><i class="fa fa-search" aria-hidden="true"></i><span>SEARCH</span></a></li>
    <li class="left-menu-items"><a href="templates/settings.html"><i class="fa fa-cogs" aria-hidden="true"></i><span>SETTINGS</span></a></li>
</ul>
</body>
</html>