<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        /*body {background-image: url('assets/img/sat.png')}*/
    </style>
</head>
<body>
<ul class="login-list">
    <li class="login-items"><a href="#"><img src="assets/img/geo-track-solution.png" alt=""></a></li>
    <li class="login-items"><a href="#"></a>
        <form action="post">
            <input type="text" value="username" placeholder="Username">
            <input type="text" value="password" placeholder="Password">
        </form>
    </li>
    <li><input type="button" value="Login"></li>
</ul>
</body>
</html>